<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563745787540-g68sap0h0eskm5mc6442ungjp878h1kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563745787540-g68sap0h0eskm5mc6442ungjp878h1kt</string>
	<key>API_KEY</key>
	<string>AIzaSyBf6I-eEmwT6AseTU13EhxpryxV8eB_OrA</string>
	<key>GCM_SENDER_ID</key>
	<string>563745787540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c0319</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c0319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563745787540:ios:0a859ff2e46dfeb4416e81</string>
</dict>
</plist>